.login-box {
  position: relative;
  overflow: hidden;
}

.login-box img {
  position: absolute;
  z-index: -1;
}

.login-title {
  width: 510px;
  height: 150px;
  text-align: center;
}

.login-box .login-title {
  position: absolute;
  color: white;
  top: 0;
  bottom: 0;
  left: 250px;
  margin: auto 0;
}

.login-title h1 {
  font-size: 50px;
}

.login-warp {
  position: absolute;
  width: 300px;
  height: 272px;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 250px;
  margin: auto 0;
}

.login-warp > div {
  padding: 0 12px;
}

.login-warp > div input {
  width: 100%;
  height: 50px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  margin-top: 15px;
  padding-left: 27px;

}

.login-warp > div button {
  width: 100%;
  height: 40px;
  background-color: green;
  margin-top: 15px;
  color: white;
  border-radius: 3px;
}

.login-warp > div i {
  position: absolute;
  font-size: 20px;
  color: green;
}

.login-warp > div i:nth-of-type(1) {
  left: 20px;
  top: 69px;
}

.login-warp > div i:nth-of-type(2) {
  left: 20px;
  top: 135px;
}

.login-warp > div:last-of-type a :first-of-type {
  margin-top: 15px;
  font-size: 12px;
  float: left;
}

.login-warp > div:last-of-type a:last-of-type {
  float: right;
}

.login-username-warn-hide{
  display: none;
}
.login-password-warn-hide{
  display: none;
}

.loginUsernameWarn, .loginPasswordWarn {
  color: red;
  font-size: 12px;
  position: absolute;
}

.loginUsernameWarn {
  display: block;
  left: 12px;
  top: 104px;
}

.loginPasswordWarn {
  display: block;
  left: 12px;
  top: 170px;
}
